body {
  padding-top: 9rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.rouge {
  color: #ff0000;
}

.navbar-hide {
  margin-top: -10rem;
}

.text_align_center {
  text-align: center;
}

.encadrer_div {
  border: 1px solid black;
  padding: 5px;
  border-radius: 15px;
}
.modal-login {    
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;   
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
  border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
} 
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}
.modal-login .modal-footer a {
  color: #999;
}   
.modal-login.modal-dialog {
  margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1 !important;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #45aba6 !important;
  outline: none;
}
.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}
.text_deco {
  color: black;
  text-decoration: white;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  height: 100px;
}