<!-- On va dériver la layout.html de base -->
{% extends "admin_layout.html" %}


{% block javascript %}    <!-- Début du block javascript -->
{% endblock %}  <!-- Fin du block javascript -->


{% block body %}    <!-- Début du block body -->


<!-- Bandeau pour erreurs et notifications -->
<div class="row">
    <div class="col-lg-12">
        <div id="admin_erreur">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
</div><!-- row -->

<!-- Titre -->
<div class="row">
  <h1>Liste des logiciels</h1>
</div><!-- row -->

<!-- Tableau des participants -->
<div class="row">
  <p class="card-text font-italic">Ces logiciels sont nécessaires au bon fonctionnement de la gestion de la course</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom du logiciel</th>
        <th>Lancé (ou pas)</th>
        <th>% CPU </th>
      </tr></thead>
    <tbody>
    {% for clef,valeur in logiciels.items() %}
      <tr>
        <td>{{ clef }}</td>
        {% if valeur.lance == 1 %}
        <td><i class="fas fa-check-circle" style="color:green"></i></td>
        {% else %}
        <td><i class="fas fa-exclamation-triangle" style="color:red"></i></td>
        {% endif %}
        <td>{{ valeur.cpu }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div><!-- row -->







{% endblock %}  <!-- Fin du block body -->
