<!-- On va dériver la layout.html de base -->
{% extends "admin_layout.html" %}


{% block javascript %}    <!-- Début du block javascript -->
{% endblock %}  <!-- Fin du block javascript -->


{% block body %}    <!-- Début du block body -->


<!-- Bandeau pour erreurs et notifications -->
<div class="row">
    <div class="col-lg-12">
        <div id="admin_erreur">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
</div><!-- row -->

<!-- Titre de la page -->
<div class="row">
  <h1>Etape #4 :: Importation des coureurs</h1>
</div>


<!-- Fomulaire pour le téléversement et l'importation du fichier CSV -->
<form action="{{ url_for('administrer_coureurs_importer') }}" method="post" enctype="multipart/form-data">
  <fieldset>

    <!-- Zone pour vérifier l'id de la course active -->
    <div class="row">
      <h3>Course active</h3>
    </div>
    <div class="form-group">
      <div class="row">
        <p class="font-italic">La course dans laquelle seront inscrits les coureurs. Ce choix a été effectué à l'étape précédente</p>
        <table class="table table-striped">
          <thead><tr><th>ID de la course active</th></tr></thead>
          <tbody>
            {% if session.id_course_active %}
            <tr><td><h2><span class="badge badge-success"> {{ session.id_course_active }} </span></h2></td></tr>
            {% else %}
            <tr><td><h2><span class="badge badge-danger"> ??? </span></h2></td></tr>
            {% endif %}
          </tbody>
        </table>
      </div><!-- row -->
    </div><!-- form-group -->


    <!-- Zone pour choisir et téléverser le fichier CSV -->
    <div class="row">
      <h3>Activation des inscriptions</h3>
    </div>
    <form method="post">
      <div class="row">
        <div class="col">
          <input type="checkbox" name="inscriptions_ouvert">
          <label for="inscriptions_ouvert">Ouvrir les inscriptions ( Si la checkBox est appuyé, alors les isncriptiond sont ouvertes )</label>
        </div><!-- col -->
      </div><!-- row -->
    </form>
    <br />


<!-- Les boutons étapes suivante et précédente -->
<div class="row">
  <div class="col-sm">
    <a href="{{ url_for('administrer_tutoriel_etape3') }}">
      <button class="btn btn-primary btn-sm"><i class="fas fa-step-backward"></i> Etape #3</button>
    </a>
  </div><!-- col -->
  <div class="col-sm text text_right">
    <a href="{{ url_for('administrer_tutoriel_etape5') }}">
      <button class="btn btn-primary btn-sm"><i class="fas fa-step-forward"></i> Etape #5</button>
    </a>
  </div><!-- col -->
</div><!-- row -->



{% endblock %}  <!-- Fin du block body -->
