body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#carouselExemple {
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}